<main class=" grid">
  <section class="col">
    <label
      >Book title:
      <input #bookTitle />
    </label>

    <button (click)="add(bookTitle.value); bookTitle.value = ''">
      add
    </button>
  </section>
<section class="col">
 <ul class="col__header">
      <li class="col__header-item">Title</li>
      <li class="col__header-item">Author</li>
      <li class="col__header-item">Language</li>
    </ul>
</section>
  <section class="col">

    <div class="col">
      <ul class="list" *ngIf="books">
        <li
          class="list__item"
          *ngFor="let book of books"
          (click)="onSelect(book)"
        >
          <a routerLink="/detail/{{ book?.id }}">
            {{ book.title }}

            <p class="list__item-inner">
              {{ book.author }}
            </p>
            <p class="list__item-inner">
              {{ book.language }}
            </p>
          </a>
          <button class="delete" title="delete book" (click)="delete(book)">
            x
          </button>
        </li>
      </ul>
    </div>
    <!-- <section class="col">
      <app-books-details [book]="selectedBook" ></app-books-details>
    </section> -->
  </section>
</main>
