.container {
  display: flex;
  align-items: flex-start;
  width: 75%;
}
.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;
  margin: 0 auto;
}
.grid--sm {
  flex-basis: 20%;
}
.grid .list__header {
  display: flex;
  list-style: none;
  margin: 0 ;
  padding: 5%;
}
.grid .list__header-item {
  flex-basis: 33%;
  font-size: 1.2rem;
  font-weight: 600;
}
.grid .list {
  height: 70vh;
  overflow: scroll;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.grid .list__item {
  position: relative;
  left: 0;
  background-color: #607D8B;
  margin: .5em 0;
  padding: .3em 0;
  border-radius: 4px;
}
.grid .list__item:hover {
  background-color: #7D9CB2;
}
.grid .list-inner {
  list-style: none;
  display: flex;
  padding: 5%;
}
.grid .list-inner__item {
  flex-basis: 33%;
}
.grid .link {
  text-decoration: none;
  color: #fff;
}
.grid .btn {
  padding: 5px 10px;
  margin: 2% 5%;
}
.grid .btn--red {
  background: #B28DA5;
  border: 3px solid #B28DA5;
  transition: all 0.5s;
  color: #eee;
}
.grid .btn--red:hover {
  background: #c9aebf;
  border-color: #c9aebf;
}
.grid .btn--green {
  color: #eee;
  background: #8CB287;
  border: 3px solid #8CB287;
  transition: all 0.5s;
}
.grid .btn--green:hover {
  background: #b2ceae;
  border-color: #b2ceae;
}
.grid .link,
.grid .link:hover {
  text-decoration: none;
  color: #eee;
}
.grid .bg--light-gray {
  background-color: #eee;
}
.grid .t--dark-gray {
  color: #607D8B;
}
