.grid{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

  .row{
    flex-basis: 50%;
   
  }
  .list__header{
    display: flex;
    list-style: none;
    
    margin: 0 ;
    padding: 5%;

    &-item{
      flex-basis: 33%;
      
      
    }
  }

  .list {
    height: 70vh;
    overflow: scroll;
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    

     &__item {
        // cursor: pointer;
        position: relative;
        left: 0;
        background-color: #607D8B;
        margin: .5em 0;
        padding: .3em 0;
        // height: 1.6em;
        border-radius: 4px;
       &:hover{
        
        background-color: #7D9CB2;
        // left: .1em;
       }
    }    
  } 
  .list-inner{
    list-style: none;
    display: flex;
    padding: 5%;
    &__item{
      flex-basis: 33%;
    }
  }

  .link{
    text-decoration: none;
    color: #fff;

  }
  .btn{
    padding: 5px 10px;
    margin: 2% 5%;
  }
  
  .btn--delete:hover{
    background:#B28DA5;
  }
  
  .btn--add:hover{
    background:#8CB287;
  }

  .bg--light-gray{
    background-color: #eee;
  }
  .t--dark-gray{
    color: #607D8B;
  }
}

