<main class=" grid">
  <section class="row  bg--light-gray">
    <button class="btn btn--add" (click)="add(bookTitle.value); bookTitle.value = ''">    
      add book
    </button>
    <input #bookTitle />
  </section>
  <section class="row">
    <ul class="list__header bg--light-gray">
      <li class="list__header-item t--dark-gray">Title</li>
      <li class="list__header-item t--dark-gray">Author</li>
      <li class="list__header-item t--dark-gray">Language</li>
    </ul>
  </section>
  <section class="row">

    <div class="row">
      <ul class="list bg--light-gray" *ngIf="books">
        <li class="list__item" *ngFor="let book of books" (click)="onSelect(book)">
          <a class="link" routerLink="/detail/{{ book?.id }}">
            <ul class="list-inner">
              <li class="list-inner__item t--white">{{ book.title }}</li>
              <li class="list-inner__item t--white">{{ book.author }}</li>
              <li class="list-inner__item t--white">{{ book.language }}</li>
            </ul>
          </a>

          <button class="btn btn--delete" title="delete book" (click)="delete(book)">
            Delete
          </button>
        </li>
      </ul>
    </div>
    <!-- <section class="row">
      <app-books-details [book]="selectedBook" ></app-books-details>
    </section> -->
  </section>
</main>