.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.grid .col {
  flex-basis: 50%;
}
.grid .col__header {
  display: flex;
}
.grid .col__header-item {
  flex-basis: 30%;
}
.grid .list {
  height: 70vh;
  overflow: scroll;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.grid .list__item {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  border-radius: 4px;
}
.grid .list__item:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.grid .list__item-inner {
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.grid .list__item-inner.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.grid .selected {
  background-color: #CFD8DC !important;
  color: white;
}
.grid .list .text {
  position: relative;
  top: -3px;
}
