<form class="form " [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label class="label" for="username">Your email</label>
  <input
    class="input row"
    matInput

    formControlName="email"
    name="username"
    required
  />
  <label class="label" for="password">Password</label>
  <input
    class="input row"
    matInput

    formControlName="password"
    type="password"
    name="password"
    required
  />

  <button class="btn btn--green" type="submit" color="primary">Login</button>
</form>
