<section class="">
  <form class="form bg--light-gray" [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate >
    <div class="row form-group">
      <label class="label t--dark-gray" for="bookName">Book Name:</label>
      <input class="input form-control" formControlName="title" placeholder="Book Name" name="bookName"  id="bookName">
      <div class="alert  alert-danger"
        *ngIf="editForm.get('title').hasError('required') && editForm.get('title').touched">
        Book Name is required
      </div>
    </div>

    <div class=" row form-group">
      <label class="label t--dark-gray" for="bookAuthor">Book Author:</label>
      <input class="input form-control" formControlName="author" placeholder="Book Author" name="bookAuthor"  id="bookAuthor">
      <div class="alert  alert-danger"
        *ngIf="editForm.get('author').hasError('required') && editForm.get('author').touched">
        Book Author is required and should less than 9 characters.
      </div>
    </div>

    <div class="row form-group">
    <label class="label t--dark-gray" for="bookLang">Book Lang:</label>
    <input class="input form-control" formControlName="language" placeholder="Book Lang" name="bookLang"  id="bookLang">
    <div class="alert  alert-danger"
         *ngIf=" editForm.get('language').hasError('required') && editForm.get('language').touched">
      Lang is required and should less than 3 characters.
    </div>
    </div>
    <div class=" row form-group">
      <label class="label t--dark-gray" for="bookCountry">Book Country:</label>
      <input class="input form-control" formControlName="country" placeholder="Book Country" name="bookCountry"  id="bookCountry">
    </div>
    <div class="row form-group">
      <label class="label t--dark-gray" for="bookPages">Page Count:</label>
      <input class="input form-control" formControlName="pages" placeholder="Page Count" name="bookPages"  id="bookPages">
    </div>
    <button class="btn btn--green" [disabled]='editForm.invalid'>Save</button>
    <button class="btn btn--red" (click)="goBack()">go back</button>
  </form>
</section>
