.grid {
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.grid .row {
  flex-basis: 50%;
}
.grid .row--p {
  padding: 5%;
}
.grid .list {
  list-style: none;
  flex-basis: 50%;
  margin-top: 0;
}
.grid .list__item {
  font-size: 1.5rem;
  padding: 5%;
}
.flex {
  display: flex;
}
.flex--space-around {
  justify-content: space-around;
}
.btn {
  width: 8rem;
  font-size: 1.5rem;
  padding: 5px 10px;
  margin: 2% 5%;
}
.btn--red {
  background: #B28DA5;
  border: 3px solid #B28DA5;
  transition: all 0.5s;
  color: #eee;
}
.btn--red:hover {
  background: #c9aebf;
  border-color: #c9aebf;
}
.bg--light-gray {
  background-color: #eee;
}
.bg--light-blue {
  background-color: #607D8B;
}
.t--dark-gray {
  color: #607D8B;
}
.t--light-brown {
  color: #757575;
}
.t--white {
  color: #fff;
}
