<main class="grid flex"  *ngIf="book">
  <section class=" row">
    <h2> Details</h2>
  </section>
  <section class=" row flex bg--light-gray">
    <ul class="col list  ">
      <li class="list__item  t--dark-gray"> Title</li>
      <li class="list__item  t--dark-gray"> Book Author</li>
      <li class="list__item  t--dark-gray"> Book Language </li>
    </ul>
    <ul class="col list bg--light-gray">
      <li class=" list__item t--light-brown">{{ book.title }}</li>
      <li class=" list__item t--light-brown">{{ book.author }}</li>
      <li class=" list__item t--light-brown">{{ book.language }}</li>
    </ul>
  </section>
  <section class=" row row--p flex flex--space-around bg--light-gray">
    <button class="btn btn--red" (click)="goBack()">go back</button>
    <!-- <button class="btn btn--save" (click)="save()">save</button> -->
  </section>
  <!-- <section class="row bg--light-gray">
    <label>Chenge title:
      <input [(ngModel)]="book.title" placeholder="name" />
    </label>
  </section> -->

</main>
