<form class="form bg--light-gray" [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="row form-group">
    <label class="label t--dark-gray" for="title">Book Title:</label>
    <input
    class="input form-control"
    type="text"
    formControlName="title"
    placeholder="Book Title"
    name="title"
    id="b_title">
  </div>

  <div class="row form-group">
    <label class="label t--dark-gray" for="author">Book Author:</label>
    <input
    class="input form-control"
    type="author"
    formControlName="author"
    placeholder="Book Author"
    name="author"
    id="b_author">
  </div>

  <div class="row form-group">
    <label class="label t--dark-gray" for="language">Book lang:</label>
    <input
    class="input form-control"
    formControlName="language"
    placeholder="Book lang"
    name="language"
    id="language">
  </div>

  <button class="btn btn--green">Add</button>
  <button class="btn btn--red" (click)="goBack()">go back</button>
</form>
